<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Monal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MonalOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>jrtplib-static copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>jrtplib-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26270A491A858D8700B03758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26270A5B1A858D8700B03758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2630619C1A8644C3000002CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>263061B11A8644C3000002CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>263061C51A864535000002CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>263061D71A864535000002CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26709C4B1A87EDF800FF2D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>268BCD55140B25CC0025E4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
